.navbar {
    position: absolute;
    top: 0;
    z-index: 11;
    width: 100%;
    position: sticky;
    top: 0;
    height: 70px;
    font-size: 24px;
    background-image: linear-gradient(to right, #c4eb7b 0%, #fda085 100%);
    
    
}

.nav-link a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;    
    padding: 10px 14px;
    margin: 10px 14px;    
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
} 



