.banner {
    position: relative;
}

.banner h3{      
    color: rgb(5, 202, 150);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
}
.banner p {
    color: rgb(129, 255, 61);
    font-size: 1.2rem;
    text-shadow: 0 0 10px #000;
}

@media screen and (max-width: 768px) {
    .banner {
        position: relative;
        text-align: center;
    }
    
    .banner h3{      
        color: rgb(5, 202, 150);
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 0 10px #000;
    }
    .banner p {
        color: rgb(129, 255, 61);
        font-size: 0.5rem;
        text-shadow: 0 0 10px #000;
    }
}
    
